/nbproject/private/
manifest.mf
build.xml
nbproject/build-impl.xml
nbproject/genfiles.properties
nbproject/project.properties
nbproject/project.xml
/Lista08/nbproject/private/
Lista08/nbproject/project.xml
Lista08/nbproject/project.properties
Lista08/nbproject/genfiles.properties
Lista08/nbproject/build-impl.xml
/Lista08/build/